# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environnement
.env
.env.local
.env.*.local

# Base de données
*.sqlite
*.db
database/*.db

# Logs
logs
*.log

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
.next/
out/

# Divers
coverage/
.nyc_output/
.cache/ 