<%- contentFor('body') %>
<section class="form-page">
    <div class="form-header">
        <h1>Discutons-en</h1>
    </div>

    <div class="form-content">
        <div id="dynamic-form-container">
            <!-- Le formulaire sera chargé dynamiquement ici -->
        </div>
    </div>
</section>

<%- contentFor('scripts') %>
<script src="/js/contact-form.js"></script> 